// global color tokens
$-clr-white: hsl(0 0% 100%);
$-clr-gray-200: hsl(231, 7%, 60%);
$-clr-gray-700: hsl(235, 18%, 26%);
$-clr-gray-800: hsl(234, 29%, 20%);
$-clr-red-300: hsl(4, 100%, 67%);
$-clr-red-400: 	hsl(15, 100%, 61%);
$-clr-pink-400: hsl(346, 100%, 66%);



$default: (
  "neutral": (
    "100": $-clr-white,
    "200": $-clr-gray-200,
    "700": $-clr-gray-700,
    "800": $-clr-gray-800,

  ),
  "primary": (
    "400": $-clr-red-300,
  ),
  "gradient": (
    "300": $-clr-pink-400,
    "400": $-clr-red-400,
  ),
);



// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);

$color-primary-400: var(--primary-400);
$color-primary-400-hsl: hsl(4, 100%, 67%);

$color-gradient-300: var(--gradient-300);
$color-gradient-400: var(--gradient-400);


