@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

$active-theme: $default;
$enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-neutral-800;
$color-background-default: $color-neutral-700;
$color-text-interactive-default: $color-neutral-800;
$color-text-interactive-hover: $color-neutral-800;

// set to 0 to disable
$letter-spacing-loose: 0;

$border-radius-1: $size-2;
$border-radius-2: $size-9;

$box-shadow-1: 0px 16px 32px 0px rgba(255, 97, 85, 0.50);

$box-shadow-2: 0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024), 0px 100px 80px rgb(0, 0, 0, 0.04);

$box-shadow-3: 0px 6px 5px rgb(0, 0, 0, 0.02), 0px 22px 18px rgb(0, 0, 0, 0.03),
  0px 100px 80px rgb(0, 0, 0, 0.05);

$box-shadow-4: 0px 6px 5px rgb(0, 0, 0, 0.03), 0px 22px 18px rgb(0, 0, 0, 0.042),
  0px 100px 80px rgb(0, 0, 0, 0.07);

$box-shadow-5: 0px 6px 5px rgb(0, 0, 0, 0.04), 0px 22px 18px rgb(0, 0, 0, 0.06),
  0px 100px 80px rgb(0, 0, 0, 0.1);

// body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.5rem;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family: $font-family-base;
$heading-color-default: $color-neutral-800;
$heading-font-weight: $font-weight-bold;
$heading-letter-spacing: $letter-spacing-loose;
$heading-line-height: 2.5rem;
$heading-text-transform: none;

$heading-1-font-size: $font-size-900;
$heading-1-color: $heading-color-default;
// $heading-2-font-size: $font-size-800;
// $heading-2-color: $heading-color-default;
// $heading-3-font-size: $font-size-700;
// $heading-3-color: $heading-color-default;

// layout
$grid-gap: $size-9;
$flex-group-gap: $size-4;

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: clamp(2.5rem, 10vh, 6rem);

$container-min-margin-inline: $size-4;
$container-max-width: 58rem;
$container-max-width-narrow: 40rem;
$container-max-width-wide: 75rem;

// // site header
// $site-header-background-color: $color-primary-300;
// $site-header-color: $color-neutral-900;
// $site-header-padding: $size-8 0;
// $site-header-margin: 0;
// $site-header-jusitifcation-small-screens: center;
// $site-header-jusitifcation-large-screens: space-between;
// $site-header-alignment: center;

// //navigation
// $navigation-color: $site-header-color;
// $navigation-color-hover: $color-primary-300;
// $navigation-font-size: $font-size-400;
// $navigation-gap: $size-9;
// $navigation-link-text-decoration: none;
// $navigation-font-family: $body-font-family;
// $navigation-font-weight: $body-font-weight;

// // site footer
// $footer-background-color: $color-primary-300;
// $footer-text-color: $color-primary-900;
// $footer-link-color: $color-neutral-100;
// $footer-link-color-hover: $color-primary-200;
// $footer-link-font-family: $font-family-accent;
// $footer-link-text-decoration: none;

// buttons
$button-font-family: $body-font-family;
$button-font-size: $font-size-400;
$button-font-weight: $font-weight-bold;
$button-text-transform: none;
$button-padding: 1.25em 3em;
$button-border: 0;
$button-border-radius: $border-radius-1;

$button-primary-color: $color-neutral-100;
$button-primary-color-hover: $color-neutral-100;
$button-primary-background: $color-neutral-800;
$button-primary-background-hover: linear-gradient(204deg,  $color-gradient-300 0%, $color-gradient-400 100%);

// cards
$card-flow-spacing: $size-2;
$card-padding: $size-6;
$card-shadow: none;
$card-border-radius: $border-radius-2;
$card-background-default: $color-neutral-100;
$card-color-default: $body-text-color;
$card-font-family: $body-font-family;
$card-line-height: 1.5;
$card-heading-color-default: $card-color-default;
$card-heading-font-size: $font-size-900;
$card-section-padding: $size-6;

$card-checkmark-alignment: flex-start;
$card-checkmark-max-width: 1.3rem;

// forms
$form-label-color: $body-text-color;
$form-label-font-family: $body-font-family;
$form-label-font-weight: $font-weight-bold;
$form-label-font-size: $font-size-300;

$form-error-font-size: $font-size-300;
$form-error-color: $color-primary-400;
$form-error-border: 1px $color-primary-400 solid;
$form-error-background-color: $color-primary-400;


$form-input-color: $body-text-color;
$form-input-font-family: $body-font-family;
$form-input-font-weight: $font-weight-default;
$form-input-font-size: $body-font-size;
$form-input-background-color: $color-neutral-100;
$form-input-border-default: 1px solid $color-neutral-200;
$form-input-border-focus: 1px solid $color-neutral-800;
$form-input-padding: $size-4 $size-6;
$form-input-border-radius: $border-radius-1;
$form-input-outline: none;

$form-placeholder-color: $color-neutral-200;
$form-placeholder-font-family: $form-input-font-family;
$form-placeholder-font-weight: $form-input-font-weight;
$form-placeholder-font-size: $body-font-size;

$form-group-spacing: 1.5rem;
