$-ff-sans:  'Roboto', sans-serif;
$-ff-serif: serif;

$font-family-base: $-ff-sans;
$font-family-accent: $-ff-sans;

$font-sizes: (
  "small": (
    "900": 2.5rem,
    "400": 1rem,
    "300": 0.75rem,
  ),
  "large": (
    "900": 3.5rem,
  ),
);

$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-900: var(--fs-900);

$-fw-400: 400;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-bold: $-fw-700;
