@use "../abstracts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: $button-border;
  border-radius: $button-border-radius;
  width: 100%;

  &[data-type="primary"] {
    background: $button-primary-background;
    color: $button-primary-color;
    &:is(:hover, :focus) {
      background: $button-primary-background-hover;
      color: $button-primary-color-hover;
      box-shadow: $box-shadow-1;
    }
  }
}
