@use "../abstracts/" as *;

.card {
  display: grid;
  max-width: 58rem;
  gap: $card-flow-spacing;
  background-color: $card-background-default;
  font-family: $card-font-family;
  color: $card-color-default;
  line-height: $card-line-height;
  box-shadow: $card-shadow;
  border-radius: $card-border-radius;

  &__heading {
    @include heading($card-heading-font-size, $card-heading-color-default);
  }

  &__column-2{
      padding-block: $card-section-padding;
      max-width: 25rem;
      align-self: center;
  }

  &__checkmark{
    max-width: $card-checkmark-max-width;
    align-self: $card-checkmark-alignment;
  }

  form{
    margin-top: 2.5rem;
  }

  @include mq(medium){
    &{
      padding: $card-padding;
    }

    &__column-2{
      order: -1;
    }
  }

  //  page after submit
 &.succes{  
  display: grid;
  place-items: center;
  padding: 3rem 4rem 4rem 4rem;
  @include mq(small, max){
    height: 100vh;
    padding: 0 1.5rem;
   
  }
  p{
    max-width: 38ch;
  }

  img{
    max-width: 4rem;
    margin-bottom: 2.5rem;
  }
  header{
    line-height: 100%;
  }

  max-width: 31.5rem;
 }
}
